<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./pagination.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="contatiner">
      <div class="pagination">
        <button class="pag-button1"><div class="arrow-prev"></div></button>
        <ul>
          <li class="link">1</li>
          <li class="link">2</li>
          <li class="link">3</li>
          <li class="link">4</li>
          <li class="link">5</li>
          <li class="link">6</li>
          <li class="link">7</li>
          <li class="link">8</li>
        </ul>
        <button class="pag-button2">
          <div class="arrow-next"></div>
        </button>
      </div>
    </div>
  </body>

  <script src="./JS/pagination.js"></script>
</html>
