<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./pagination.css" />
    <link rel="stylesheet" href="../global.css">
    <title>Document</title>
  </head>
  <body>
    <div class="pagination">
      <div class="container">
        <div class="pagination__inner">
          <button class="pag-button1" id="prev-button"><div class="arrow-prev"></div></button>
          <ul id="pagination-list">
            <li class="link active" data-page="1"><a href="#">1</a></li>
            <li class="link" data-page="2"><a href="#">2</a></li>
            <li class="link" data-page="3"><a href="#">3</a></li>
            <li class="link" data-page="4"><a href="#">4</a></li>
            <li class="link" data-page="5"><a href="#">5</a></li>
            <li class="link" data-page="6"><a href="#">6</a></li>
            <li class="link" data-page="7"><a href="#">7</a></li>
            <li class="link" data-page="8"><a href="#">8</a></li>
          </ul>
          <button class="pag-button2" id="next-button"><div class="arrow-next"></div></button>
        </div>
      </div>
    </div>
    
  </body>

  <script src="./JS/pagination.js"></script>
</html>
