<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="layout-cigarettes">
      <div class="contatiner">
        <div class="layout-cigarettes_image">
          <img src="../../src/images/Rectangle 73.png" alt="" class="layout-img"/>
        </div>
        <div class="layout-cigarettes_info">
          <div class="logo">Marlboro</div>
          <div class="line"></div>
          <div class="buy-line">
            <div class="price">25.99 PLN</div>
            <button class="button-buy">Buy</button>
		</div>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
