<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="layout-cigarettes">
      <div class="contatiner">
        <div class="layout-cigarettes_image">
          <img src="../../src/images/Rectangle 73.png" alt="" />
        </div>
        <div class="layout-cigarettes_info">
          <div class="logo">Marlboro</div>
          <div class="line"><img src="" alt="" /></div>
          <div class="buy-line">
            <div class="price">25.99 PLN</div>
            <button class="button-buy">Buy</button>
		</div>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
