.slide {
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 35px;
	border-color: black;
	border-width: 1px;
	overflow: hidden;
}

.slide__first {
	background-image: url(images/slider-image-1.png);
}

.slide__second {
	background-image: url(images/slider-image-2.png);
}

.slide__content {
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 600px;
	padding: 100px 30px;
	text-align: right;
	font-style: italic;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.slide__heading {
	font-weight: 700;
	font-size: 3rem;
	margin-bottom: 30px;
	color: #569ea6;
}
.slide__text {
	font-weight: 500;
	font-size: 1.5rem;
	color: white;
}
.slide__arrow-container {
	width: 80px;
	background-color: rgba(0, 0, 0, 0.6);
}

.slide__right-arrow-container {
	margin-left: auto;
}

@media screen and (max-width: 700px) {
	.slide__content {
		text-align: center;
	}
	.slide__heading {
		font-size: 2.2rem;
	}
	.slide__text {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 500px) {
	.slide {
		min-height: 500px;
	}
}

/* Свойства, переопределяющие стили splide.js  */
