<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
		<link href="../global.css" rel="stylesheet" />
		<script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
		<link
			href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
"
			rel="stylesheet"
		/>
		<link href="main-page-slider.css" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body>
		<section>
			<div class="container">
				<div id="image-carousel" class="splide" aria-label="Main Page Sllider">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<div class="slide slide__first">
									<div class="slide__arrow-container"></div>
									<div class="slide__content">
										<h2 class="slide__heading">DISCOVER</h2>
										<p class="slide__text">
											our ever-expanding assortment of highest quality cigars and cigarillos. We have a selection to suit every taste!
										</p>
									</div>
									<div class="slide__arrow-container slide__right-arrow-container"></div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="slide slide__second">
									<div class="slide__arrow-container"></div>
									<div class="slide__content">
										<h2 class="slide__heading">Exclusive Deals!</h2>
										<p class="slide__text">
											Don’t miss out on our special offers! Get the most bang for your buck by buying your favourite tobacco with us!
										</p>
									</div>
									<div class="slide__arrow-container slide__right-arrow-container"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<script src="main-page-slider.js"></script>
	</body>
</html>
