<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="/components/global.css">
    </head>
    <body>
        <div class="category__section">
            <div class="container">
                <div class="category__block category__block1">
                    <p>Cigarettes</p>
                </div>
                <div class="category__block category__block2">
                    <p>Cigar</p>
                </div>
                <div class="category__block category__block3">
                    <p>Hookah</p>
                </div>
                <div class="category__block category__block4">
                    <p>Pod system</p>
                </div>
                <div class="category__block category__block5">
                    <p>E-sig</p>
                </div>
                <div class="category__block category__block6">
                    <p>IQOS</p>
                </div>
            </div>
        </div>
    </body>
</html>