<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="/components/global.css">
    </head>
    <body>
        <div class="category__section">
            <div class="container">
                <div class="category__blocks">
                    <div class="category__block category__block1">
                        <p class="category__text">Cigarettes</p>
                    </div>
                    <div class="category__block category__block2">
                        <p class="category__text">Cigar</p>
                    </div>
                    <div class="category__block category__block3">
                        <p class="category__text">Hookah</p>
                    </div>
                    <div class="category__block category__block4">
                        <p class="category__text">Pod system</p>
                    </div>
                    <div class="category__block category__block5">
                        <p class="category__text">E-sig</p>
                    </div>
                    <div class="category__block category__block6">
                        <p class="category__text">IQOS</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>