.category__block{
    border-radius: 25px;
    width: 450px;
    height: 400px;
    display: flex;
    align-items: end;
    padding-bottom: 11px;
}

.category__blocks{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.category__text{
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    justify-content: center;
    filter: none;
}

.category__text-blur{
    position: relative;
    width: 450px;
    display: flex;
    justify-content: center;
}

.category__block1{
    background: url(img/Cigaretes.png);
}
.category__block2{
    background: url(img/Cigar.png);
}
.category__block3{
    background: url(img/Hookah.png);
}
.category__block4{
    background: url(img/Pod\ system.png);
}
.category__block5{
    background: url(img/E-cig.png);
}
.category__block6{
    background: url(img/IQOS.png);
}

.category__section{
    margin-bottom: 100px;
}

.category__blur{
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 39px;
    filter: blur(50px);
}

@media screen and (max-width: 620px){
    .category__block{
        width: 350px;
        height: 300px;
    }
}

@media screen and (max-width: 380px){
    .category__block{
        width: 250px;
        height: 200px;
    }
}