<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="/components/global.css" />
		<title>Document</title>
	</head>
	<body>
		<nav class="navbar">
			<div class="navbar__main">
				<a href="#"><img src="images/logo_white.svg" alt="" class="navbar__logo" /></a>
				<div class="navbar__right">
					<form action="#">
						<div class="navbar__search">
							<button type="submit" class="navbar__search-submit"><img src="images/magnifying_glass.svg" alt="" /></button>
							<input type="text" class="navbar__search-label" placeholder="Search for ..." />
						</div>
					</form>
					<a href="#cart"><img src="images/cart.svg" class="navbar__cart" alt="" /></a>
					<a href="#account"><img src="images/human.svg" class="navbar__account" alt="" /></a>
				</div>
			</div>
			<div class="navbar__search-adaptive">
				<form action="#">
					<div class="navbar__label-adaptive">
						<input type="text" class="navbar__search-label" placeholder="Search for ..." />
						<button type="submit" class="navbar__search-submit"><img src="images/magnifying_glass.svg" alt="" /></button>
					</div>
				</form>
			</div>
		</nav>
		<section class="homepage__content">
			<div class="header">
				<p class="header__heading">Indulge in Excellence!</p>
				<p class="header__description">Explore Premium Tobacco Products Online.<br />Quality Selections Await!<br />Experience Luxury in Every Puff.</p>
				<button class="header__button" onclick="'!!!!!!!!!!!!!!!!!!!!!!!!ПОМЕНЯТЬ НА МАГАЗИН!!!!!!!!!!!!!!!!!!!!!!!!!'">Shop Now</button>
			</div>
		</section>
	</body>
</html>
