.header {
	background: url(/src/images/header-img-cig.png);
	background-repeat: no-repeat;
}

.header__inner {
	padding-top: 150px;
	padding-bottom: 220px;
}
.header__heading {
	color: rgb(86, 158, 166);
	font-size: 56px;
	padding-bottom: 50px;
}
.header__text {
	color: rgb(255, 255, 255);
	font-size: 24px;
	max-width: 617px;
}
.layout-products {
	padding-top: 50px;
	background-color: #22222e;
}
.layout-products__inner {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	padding-bottom: 50px;
	margin: 0 auto;
	justify-content: center;
}
.layout-products__item {
	width: 100%;
	height: 100%;
	max-width: 343px;
	max-height: 500px;
	background-color: #444355;
	border-radius: 20px;
}
.layout-cigarettes_image {
	width: 100%;
	height: 100%;
}
.layout-img {
	object-fit: fill;
	width: 343px;
	padding-bottom: 25px;
}
.layout-products__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}
.logo {
	margin-left: 29px;
	align-self: flex-start;
	font-weight: 600;
	color: #ffffff;
	font-size: 24px;
}
.line {
	width: 283px;
	height: 1px;
	background-color: #ffffff;
}
.buy-line {
	display: flex;
	padding-top: 20px;
	max-width: 295px;
}
.price {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50px;
	width: 184px;
	background-color: #ffffff;
	font-weight: bolder;
	font-size: 24px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.button-buy {
	width: 111px;
	min-height: 50px;
	font-size: 24px;
	font-weight: bold;
	background-color: #569ea6;
	border: 1px solid #569ea6;
	cursor: pointer;
	transition: background 200ms;
	color: #ffffff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.button-buy:hover {
	background-color: #388f99;
}
@media (max-width: 1000px) {
	.header__inner {
		padding-left: 100px;
	}
}
@media (max-width: 750px) {
	.header__inner {
		padding-left: 0;
		padding-bottom: 140px;
	}
	.header__text {
		font-size: 20px;
	}
	.header__heading {
		font-size: 52px;
	}
}

@media (max-width: 400px) {
	.logo {
		font-size: 18px;
	}
	.header__text {
		font-size: 16px;
	}
	.header__heading {
		font-size: 48px;
	}
}
@media (max-width: 340px) {
	.price {
		width: 150px;
		font-size: 18px;
	}
	.button-buy {
		width: 80px;
		font-size: 20px;
	}
	.line {
		width: 200px;
	}
}
