<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../global.css" />
		<link rel="stylesheet" href="../footer/footer.css" />
		<title>footer</title>
	</head>
	<body>
		<footer class="footer">
			<div class="container">
				<div class="container__address">
					<h1 class="address">Address:</h1>
					<p class="address_text">ul. Puszkina dom Kalatuszkina loc. 88</p>
					<p class="copyright">© 2024 Kurilka Go. Warsaw</p>
				</div>
				<img
					class="logo__icon"
					src="/components/footer/images/Logo_white.svg"
					alt="Kurilka. Go"
				/>
			</div>
		</footer>
	</body>
</html>
