.footer {
	background: rgb(25, 25, 34);
}

.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 90px;
	padding-top: 90px;
}

.address {
	font-size: 32px;
	font-weight: 700;
	color: white;
	margin-bottom: 15px;
}

.address__text {
	font-size: 32px;
	font-weight: 400;
	max-width: 303px;
	color: white;
	padding-bottom: 76px;
}

.copyright {
	font-size: 32px;
	font-weight: 500;
	max-width: 435px;
	color: white;
}

.logo__icon {
	margin-top: 316px;
}

.contacts__mail {
	display: flex;
	padding-bottom: 30px;
}
.contacts__number {
	display: flex;
	margin-bottom: 35px;
}

.mail-paragraf,
.number-paragraf {
	font-size: 36px;
	font-weight: 700;
	color: white;
}

.mail-icon {
	margin-right: 9px;
}

.number-icon {
	margin-right: 14px;
}

.contacts__text {
	font-size: 18px;
	font-weight: 500;
	color: white;
	padding-bottom: 57px;
	max-width: 417px;
}

.contacts__socials {
	display: flex;
	gap: 30px;
}

/* .xenia,
.watsap,
.telegram,
.instagram {
	
} */
