<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

		<link rel="stylesheet" href="../global.css" />
		<link rel="stylesheet" href="../footer/footer.css" />
		<title>footer</title>
	</head>
	<body>
		<footer class="fogit pull --rebaseoter">
			<div class="container">
				<div class="footer__inner">
					<div class="footer__address">
						<h1 class="address">Address:</h1>
						<p class="address__text">ul. Puszkina dom Kalatuszkina loc. 88</p>
						<p class="copyright">© 2024 Kurilka Go. Warsaw</p>
					</div>
					<img class="logo__icon" src="../footer/images/Logo_white.svg" alt="KurilkaGo" />
					<div class="footer__contacts">
						<div class="contacts__mail">
							<img class="mail-icon" src="../footer/images/mail_icon.svg" alt="error" />
							<h1 class="mail-paragraf">kurilkago@gmail.com</h1>
						</div>
						<div class="contacts__number">
							<img class="number-icon" src="../footer/images/telephon_icon.svg" alt="error" />
							<h1 class="number-paragraf">+48123456789</h1>
						</div>

						<p class="contacts__text">Have any questions? Give us a call any day from 8:55 AM to 9:05 PM</p>

						<div class="contacts__socials">
							<img class="instagram" src="../footer/images/instagram_icon.svg" alt="instagram" />
							<img class="telegram" src="../footer/images/telegram_icon.svg" alt="telegram" />
							<img class="watsap" src="../footer/images/watsap_icon.svg" alt="watsap" />
							<img class="xenia" src="../footer/images/xenia_icon.svg" alt="X??" />
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
